<%= form_for @landing, html: { multipart: true } do |f| %>
  <% if @landing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@landing.errors.count, "error") %> prohibited this landing from being saved:</h2>

      <ul>
      <% @landing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.number_field :client_id, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :zipfile %><br>
    <%= f.file_field :zipfile %>
  </div>
  <div class="field">
    <%= f.label :filename %><br>
    <%= f.text_field :filename, :size=>"40", :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :filesize %><br>
    <%= f.number_field :filesize, :disabled => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
