<%= form_for(@device) do |f| %>
  <% if @device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% @device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tag %><br>
    <%= f.text_field :tag %>
	</div>
	<div class="field">
    <%= f.label :instruct_cnt %><br>
    <%= f.text_field :instruct_cnt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
