<h1>Listing devices</h1>
<%= render "layouts/scaffoldnav"%>

<table>
  <thead>
    <tr>
			<th>Id</th>
      <th>Tag</th>
			<th>Instruct Cnt</th>
			
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
				<td><%= device.id %></td>
        <td><%= device.tag %></td>
				<td><%= device.instruct_cnt %></td>
				
        <td><%= link_to 'Show', device %></td>
        <td><%= link_to 'Edit', edit_device_path(device) %></td>
        <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device', new_device_path %>
