<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @device.tag %>
</p>

<p>
  <strong>Instruct Cnt:</strong>
  <%= @device.instruct_cnt %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
