<%= form_for @advert, html: { multipart: true } do |f| %>
  <% if @advert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advert.errors.count, "error") %> prohibited this advert from being saved:</h2>

      <ul>
      <% @advert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group %><br>
    <%= f.text_field :group %>
  </div>
  <div class="field">
    <%= f.label :adtype %><br>
    <%= f.text_field :adtype, :size=>"2", :maxlength=>"2" %>
  </div>
  <div class="field">
    <%= f.label :filename %><br>
    <%= f.text_field :filename, :disabled => true, :size=>"40" %>
  </div>
	<div class="field">
		<%= f.label :image %><br>
		<%= f.file_field :image %>
	</div>
  <div class="field">
    <%= f.label :urlhref %><br>
    <%= f.text_field :urlhref, :size=>"50" %>
  </div>
	
  <div class="field">
    <%= f.label :descript %><br>
    <%= f.text_field :descript, :size=>"40", :maxlength=>"40" %>
  </div>
	
	<div class="field">
		<%= f.label :icon %><br>
		<%= f.collection_select :icon_id, @icon, "id", "filename" %>
	</div>
	
  <div class="actions field">
    <%= f.submit %>
  </div>
<% end %>
