<h1>Listing adverts</h1>
<%= render "layouts/scaffoldnav"%>

<table>
  <thead>
    <tr>
			<th>Id</th>
      <th>Group</th>
      <th>Type</th>
      <th>Ad File</th>
      <th>Urlhref</th>
      <th>Descript</th>
			<th>Icon File</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adverts.each do |advert| %>
      <tr>
				<td><%= advert.id %></td>
        <td><%= advert.group %></td>
        <td><%= advert.adtype %></td>
        <td><%= advert.ad_filename %></td>
        <td><%= advert.urlhref %></td>
        <td><%= advert.descript %></td>
				<td><%= advert.icon_filename %></td>
        <td><%= link_to 'Show', advert %></td>
        <td><%= link_to 'Edit', edit_advert_path(advert) %></td>
        <td><%= link_to 'Destroy', advert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Advert', new_advert_path %>
