<div class="scaffold">

<h1>Listing Adverts : <%= @advert.id %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @advert.group %>
</p>

<p>
  <strong>Adtype:</strong>
  <%= @advert.adtype %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @advert.filename %>
</p>

<p>
  <strong>File Size:</strong>
  <%= @advert.filesize %>
</p>

<p>
  <strong>Image:</strong>
  <%= @advert.image.slice(0,250) %>
</p>

<p>
  <strong>Urlhref:</strong>
  <%= @advert.urlhref %>
</p>

<p>
  <strong>Descript:</strong>
  <%= @advert.descript %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @advert.icon_id %>
</p>

<%= link_to 'Edit', edit_advert_path(@advert) %> |
<%= link_to 'Back', adverts_path %>

</div>