	<div class="scaffold_nav">
		<%= link_to "Devices", devices_path %>
		<%= link_to "AdLists", ad_lists_path %> <br/>
		<%= link_to "Adverts", adverts_path %> 
		<%= link_to "Test", test_path %><br/><br/>
		<%= link_to "Logout", destroy_admin_session_path, :method => :delete %>
	</div>
	